table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    text-align: center;
    padding: 10px;
}
td{
    text-align: left;
    padding: 10px;
}
h1{
    text-align: center;
}